{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see http://www.gnu.org/licenses/.
}}

{{!
    @template block_superframe/block_content
    This template renders the content for the block.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * welcome a welcome message - string.
    * url the link to the block's main content page (view page).
    * text the view page link text.
    * hasstudents - If the students array is not empty.
    * students - an array of student names.
    * popurl the link to the block data page (block_data page).
    * poptext the block data page link text.
    * tableurl the link to the table manager page (tablemanager page).
    * tabletext the table manager page link text.
    * headingclass the CSS class for the heading.

    Example context (json):
    {
        "welcome": "Welcome user",
        "url": "http://www.moodlebites.com",
        "text": "view page link",
        "hasstudents": true,
        "students": ["A Student", "Another Student"],
        "popurl": "#",
        "poptext": "Block summary",
        "tableurl": "#",
        "tabletext": "Table editing",
        "headingclass": "block_superframe_heading"
    }
}}

<div>
    <h3 class="{{headingclass}}">{{welcome}}</h3>
    {{#url}}
    <a href="{{{url}}}">{{text}}</a>
    {{/url}}
    <a href="{{{popurl}}}" target="_blank" class="d-block">{{poptext}}</a>
    <a href="{{{tableurl}}}" target="_blank" class="d-block">{{tabletext}}</a>
    {{#hasstudents}}
    <ul class="list-group ml-0 mt-2">
        {{#students}}
        <li class="list-group-item list-group-item-warning">{{.}}</li>
        {{/students}}
    </ul>
    {{/hasstudents}}
</div>
